* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #e2e8f0; 
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: max-content 1fr; 
}

.sidebar {
    grid-row: span 2;
    background-color: #1992d4; /* The Odin Project blue */
    color: white;
    padding: 20px;
    
    /* Flexbox for the inner layout */
    display: flex;
    flex-direction: column;
    gap: 50px; 
}

.header {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1); /* Subtle drop shadow */
}

.main-content {
    padding: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-list img {
    height: 35px;
}

.nav-title img {
    height: 50px;
}

.nav-list li {
    list-style-type: none;
    padding: 5px;
}

.sidebar img {
    filter: invert();
}
.sidebar .nav-title {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: bolder;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.search-bar, .profile-small {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons-header {
    max-width: 25px;
}

.avatar-small {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#search-input {
    background-color: #e2e8f0; /* Softer gray */
    border: none;
    border-radius: 16px; /* Fixed pixels for clean, round corners */
    padding: 8px 16px; 
    outline: none; /* Removes the harsh blue ring when you click inside it */
    width: 50vw;
}

.username {
    width: 200px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    margin-bottom: 0px;
}

.profile-big {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.avatar-big {
    height: 75;
    width: 75px;
    border-radius: 50%;
}

.user-action {
    display: flex;
    gap: 25px;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
}

.action-button {
    background-color: #1992d4; /* The Odin Project blue */
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 250px;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
}

.card-action {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: auto;
    padding: 15px;
}

.card-action-icon {
    height: 25px;
}

.truncate-span {
    overflow: hidden;
    display: -webkit-box; /* Required for -webkit-line-clamp to work */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.announcement-card {
    margin-top: 20px;
    background-color: white;
    border-radius: 30px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.announcement-info {
    display: flex;
    flex-direction: column;
}